# ==========================================
# Traffic Monitoring Project - Git Ignore
# ==========================================

# =======================
# Maven / Java
# =======================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
data/uploads/

# =======================
# IntelliJ IDEA
# =======================
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# =======================
# Eclipse
# =======================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =======================
# NetBeans
# =======================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# =======================
# VS Code
# =======================
.vscode/

# =======================
# Node / Frontend
# =======================
node_modules/
dist/
.env
*.log

# =======================
# Python / Flask / YOLO
# =======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.pytest_cache/
.ipynb_checkpoints/
*.h5
*.pt      # YOLO 权重文件
*.pth
*.onnx

# =======================
# MacOS
# =======================
.DS_Store

# =======================
# Windows
# =======================
Thumbs.db
ehthumbs.db
Desktop.ini

# =======================
# Logs
# =======================
*.log
logs/